services:
  domining_api:
    build: ./
    image: ryzeon/domining_api:latest
    mem_limit: 512m
    ports:
      - "8045:8045"
    restart: always
    depends_on:
      domiming_hub_mongodb:
        condition: service_healthy
  domiming_hub_mongodb:
    image: 'mongo:latest'
    ports:
      - '27017:27017'
    environment:
      - MONGO_INITDB_DATABASE=domining_hub
      - MONGO_INITDB_ROOT_PASSWORD=hola12345
      - MONGO_INITDB_ROOT_USERNAME=root
    restart: always
    healthcheck:
      test: echo 'db.runCommand("ping")' | mongo domining_hub -u root -p hola12345 --quiet -authenticationDatabase admin
      timeout: 10s
      retries: 10
